<?xml version="1.0"?>

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

<document>
  <properties>
    <title>Download ${project.name} Source</title>
  </properties>
  <body>
    <section name="Download ${project.name} ${project.version} Source">

      <p>${project.name} ${project.version} distributes source code. Use a source archive if you want to build ${project.name}. Otherwise, use binary artifacts from the central repository.</p>

      <p>The system prompts for a mirror. If the file does not exist on your mirror, wait. Mirrors take up to 24 hours to update.</p>

      <p>To guard against corrupted downloads or installations, verify the signature of release bundles. Use the public KEYS that Apache Maven developers provide.</p>

      <p>${project.name} uses the Apache License, version 2.0.</p>

      <p>We encourage users to configure a Maven repository mirror. Choose a mirror close to your location. Read the guide about mirror settings for repositories.</p>

      <a name="mirror"/>
      <subsection name="Mirror">

        <p>
          [if-any logo]
          <a href="[link]">
            <img align="right" src="[logo]" border="0"
                 alt="logo"/>
          </a>
          [end]
          The current mirror is
          <b>[preferred]</b>.
          If you face a problem with this mirror,
          choose another mirror.
          If all mirrors fail, use
          <i>backup</i>
          mirrors at the end of the list.
        </p>

        <form action="[location]" method="get" id="SelectMirror">
          Other mirrors:
          <select name="Preferred">
            [if-any http]
            [for http]
            <option value="[http]">[http]</option>
            [end]
            [end]
            [if-any ftp]
            [for ftp]
            <option value="[ftp]">[ftp]</option>
            [end]
            [end]
            [if-any backup]
            [for backup]
            <option value="[backup]">[backup] (backup)</option>
            [end]
            [end]
          </select>
          <input type="submit" value="Change"/>
        </form>

        <p>
          You can read the
          <a href="http://www.apache.org/mirrors/">complete mirror list.</a>
        </p>

      </subsection>
      
      <subsection name="${project.name} ${project.version}">
        
      <p>This is the current stable version of ${project.name}.</p>
        
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Link</th>
            <th>Checksum</th>
            <th>Signature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>${project.name} ${project.version} (Source zip)</td>
            <td><a href="[preferred]maven/shared/${project.artifactId}-${project.version}-source-release.zip">maven/shared/${project.artifactId}-${project.version}-source-release.zip</a></td>
            <td><a href="https://www.apache.org/dist/maven/shared/${project.artifactId}-${project.version}-source-release.zip.sha512">maven/shared/${project.artifactId}-${project.version}-source-release.zip.sha512</a></td>
            <td><a href="https://www.apache.org/dist/maven/shared/${project.artifactId}-${project.version}-source-release.zip.asc">maven/shared/${project.artifactId}-${project.version}-source-release.zip.asc</a></td>
          </tr>
        </tbody>
      </table>
      </subsection>

      <subsection name="Previous Versions">
        
      <p>Older releases exist on the archive site. These releases are not recommended.</p>

      </subsection>
    </section>
  </body>
</document>